.calc {
  display: flex;
  position: fixed;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  flex-direction: column;
  /* Alinea los elementos en columna */
  border: 1px solid #ccc;
  /* Agrega un borde */
  border-radius: 10px;
  /* Agrega bordes redondeados */
  max-width: 300px;
  /* Define un ancho máximo */
  margin-top: 5px;
  padding-top: 5px;
  margin-left: 42%;
  font-weight: bold;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.calk{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 50px;
}
#formulario {
  background-color: #f2f2f2;
  padding: 20px 40px;
  border-radius: 10px;
  width: 290px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
}

.calc input[type="date"],
.calc input[type="number"] {
  width: 100%;
  /* Ocupa todo el ancho disponible */
  margin-bottom: 5px;
  /* Agrega espacio inferior */
  padding: 2px;
  /* Agrega relleno */
  border-radius: 5px;
  /* Agrega bordes redondeados */
  border: 1px solid #ccc;
  /* Agrega un borde */
}

.btn-cal {
  display: flex;
  align-items: center;
  /*centra horizontalmente*/
  padding: 10px 20px;
  /* Ajusta el relleno */
  border: none;
  /* Elimina el borde */
  background-color: #FA289E;
  margin-left: 20px;/*margen hacia la derecha*/
  margin-top: 20px;
  /* Color de fondo */
  color: #fff;
  /* Color de texto */
  border-radius: 5px;
  /* Agrega bordes redondeados */
  cursor: pointer;
  /* Cambia el cursor*/
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1)
}

.btn-cal:hover {
  background-color: transparent; /* Cambio a fondo transparente */
  border: 2px solid #FA289E; /* Añade el estilo de borde */
  color: #FA289E;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1)
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
}

.links {
  text-decoration: none;
  color: #ccc;
}

.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  /* Hace que las etiquetas sean bloques */
  margin-bottom: 5px;
  /* Agrega espacio inferior */
}

#formulario {
  margin-bottom: 20px;
}

#resultados {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

#tablaResultados {
  width: 100%;
}

#tablaResultados th,
#tablaResultados td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 500px;
}

#tablaResultados th {
  background-color: #f2f2f2;
}
